@import 'normalize.scss';

$whiteTextColor: #fff;
$btnColor: #ff690f;
$titleColor: #333333;
$subTitleColor: #565656;


@mixin font-lato {
    font-family: 'Lato', sans-serif;
}

@mixin font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-muli {
    font-family: 'Mulish', sans-serif;
}

@mixin font-catamaran {
    font-family: 'Catamaran', sans-serif;
}

body {
    @include font-lato;
}

.section-inner {
    max-width: 1260px;
    margin: 0 auto;
}
//! Header
.section-header {
    background: url('../img/mainPic.png') no-repeat center;
    background-size: cover;
    
    .section-inner{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &-navbar {
        max-width: 1680px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 35px;
        align-items: center;
    }

    &-logo img{
        height: 61px;
        width: 166px;
    }

    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        &__item {
            &:not(:last-child) {
                margin-right: 45px;
            }
        }

        &__item a{
            @include font-muli;
            color: $whiteTextColor;
            font-size: 1em;
            font-weight: bold;
            text-decoration: none;
        }
    }

    &-content {
        display: flex;
        flex-grow: 1;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            @include font-muli;
            color: $whiteTextColor;
            font-size: 1.5em;
            font-weight: normal;
            line-height: 36px;
        }

        &__button button{
            @include font-catamaran;
            font-size: 1.125em;
            border-radius: 6px;
            width: 240px;
            height: 60px;
            background-color: $btnColor;
            color: $whiteTextColor;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 56px 0 0 0;   
            padding: 0;
        }
    }
}

//! Offer

.section-offer {

    &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 930px;
        margin: 0 auto;
        padding-top: 90px;
        padding-bottom: 75px;



        &__title {
            @include font-catamaran;
            font-size: 3.750em;
            font-weight: 900;
            margin: 0;
            color: $titleColor;
        }

        &__subtitle {
            @include font-muli;
            font-size: 1.125em;
            font-weight: 300;
            margin: 50px 0 0 0;
            text-align: center;
            line-height: 32px;
            color: $subTitleColor;
        }

    }

    &-carts {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &-cart {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__picture {
            height: 190px;
            width: 250px;
        }

        &__picture img{
            display: block;
            margin: 0 auto;
        }

        &__title {
            @include font-muli;
            font-weight: 300;
            font-size: 0.875em;
            color: $subTitleColor;
            margin: 45px 0 0 0;
            padding: 0;
        }

        &__subtitle {
            @include font-catamaran;
            font-weight: 900;
            font-size: 1.5em;
            text-align: center;
            color: $titleColor;
            margin: 25px 0 0 0;
            padding: 0;
        }

        &__btn button{
            display: block;
            @include font-catamaran;
            font-weight: 900;
            font-size: 0.938em;
            width: 120px;
            height: 50px;
            border: none;
            color: $whiteTextColor;
            background-color: $btnColor;
            text-align: center;
            margin: 30px 0 0 0;
            padding: 0;
            border-radius: 6px;
        }
    }

}